:root {
  --battle-background: #5e906a;
}

.battleTitle {
  margin-bottom: 4rem;
  font-size: 4rem;
}

.battleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--battle-background);
}

.grassPatch {
  image-rendering: pixelated;
  width: 20rem;
}

.battleScene {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
}

.playerPokemonContainer,
.wildPokemonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.imagesContainer {
  position: relative;
  height: 20rem;
}

.playerPokemon,
.wildPokemon {
  width: 200px;
  image-rendering: pixelated;
  position: absolute;
  top: -15%;
  left: 20%;
  z-index: 1;
}

.playerPokemon {
  transform: scaleX(-1);
}
