.healthBarContainer {
  width: 400px;
  padding: 0.5rem;
  height: 2rem;
  background-color: var(--healthbarContainerBackground);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.healthBarTrack {
  width: 380px;
  height: 1rem;
  background-color: var(--healthbarBackground);
}

.healthBarIndicator {
  background-color: var(--health-green);
  transition: 
    width 0.1s linear,
    background-color 0.1s ease;
}

.healthYellow {
  background-color: var(--health-yellow);
}

.healthRed {
  background-color: var(--health-red);
}


.healthBarLabel {
  color: var(--yellow);
  margin-right: 0.5rem;
  font-size: 1.75rem;
}