:root {
  --yellow: #dce295;
  --box-color: #2d3436;
  --border-color: #636e72;
  --text-color: #ffeaa7;
  --correct-color: #00b894;
  --incorrect-color: #d63031;
  --pending-color: #636e72;
  --complete-color: #0984e3;
  --battle-background: #5e906a;
}

@font-face {
  font-family: monogram;
  src: url("../public/fonts/monogram-extended.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monogram;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

/* React apps wrap all HTML elements in a div with root id */
#root {
  height: 100%;
}
