:root {
  --yellow: #dce295;
}

@font-face {
  font-family: monogram;
  src: url("../public/fonts/monogram-extended.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monogram;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

/* React apps wrap all HTML elements in a div with root id */
#root {
  height: 100%;
}
